<section id="contact">
  <div class="contact-form">
    <div class="container">
      <h2>Ready to start your project or just have a question?</h2>
      <form method="post" action="/thanks/" name="contact" netlify-honeypot="bot-field" data-netlify="true">
        <label class="hidden">Don’t fill this out: <input name="bot-field"></label>
        <div class="form-group">
          <label class="form-label">What's your name?</label>
          <input type="text" class="form-control" name="name" id="name" />
        </div>
        <div class="form-group">
          <label class="form-label">How about an Email Address?</label>
          <input type="text" class="form-control" name="email" id="email" />
        </div>
        <div class="form-group">
          <label class="form-label" >Message</label>
          <textarea class="form-control" name="message"></textarea>
        </div>
        <button class="button" type="submit" value="send"><span>Submit</span></button>
      </form>
    </div>
  </div>  
</section>