// Our variables
$base-font-family: 'Lato', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$alt-font-family: 'Lato', sans-serif;

$header-font-family: 'Playfair Display', serif;

$spacing-unit:     2rem;

$color-brand-1:    rgba(26,40,49,1);
$color-brand-2:    rgba(37,66,70,1);
$color-brand-3:    rgba(180,154,103,1);
$color-brand-4:    rgba(78,103,102,1);

$color-white:      rgba(253,253,253,1);
$color-black:      rgba(17,15,17,.967);
$color-off-white:  rgba(248,248,248,1);
$color-transparent:rgba(0,0,0,0);
$color-grey:       rgba(200,200,200,0.95);
$color-grey-light: lighten($color-grey, 10%);
$color-grey-dark:  darken($color-grey, 20%);

$box-shadow: 1px 2px 15px rgba(0,0,0,.1);
$box-shadow-alt: 11px 10px 40px rgba(0,0,0,.2);

$height-bottom: 100;
$height-middle: 200;
$height-high: 300;
$height-top: 1000;

// Width of the content area
$content-width:    780px;
$phone:            400px;
$tablet:           800px;
$laptop:           1400px;
$desktop:          1600px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import SCSS
@import
    "jeet/jeet.scss",
    "animate/animate.scss",
    "base",
    "buttons",
    "nav",
    "header",
    "page-header",
    "layout",
    "blocks",
    "blocks/block-feature.scss",
    "blocks/block-image.scss",
    "blocks/block-session.scss",
    "blocks/block-cta.scss",
    "blocks/block-showcase.scss",
    "blocks/block-deck.scss",
    "baguette",
    "forms",
    "footer",
    "util"
;
