.block-container{
  width: 94%;
  padding: 0 3%;
  display: table;
  margin-bottom: $spacing-unit * 2;
  @media (max-width: $tablet) {
    margin-bottom: $spacing-unit;
  } 
}
.gallery{
  width: 100%;
  margin: 0 auto;
}
.block-gallery-item{  
  width: 48%;
  margin: 1%;
  a{
    box-shadow: $box-shadow;
    display: block;
    will-change: transform,filter;
    transform-style: preserve-3d;
    transition: all .2s ease-out;
    border-radius: .5em;
    &:hover{
      transform: scale(1.01);
      box-shadow: $box-shadow-alt;
    }
    img{
      border-radius: .5em;
      min-width: 100%;
      height: auto;
    }
  }
}