button,a.button {
  background: $color-brand-2;
  display: inline-block;
  border: 0;
  border-radius: 5em;
  box-sizing: border-box;
  margin: $spacing-unit / 2;
  margin-left: 0;
  padding: 1em 2em;
  font-family: $alt-font-family;
  z-index: 1;
  
  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 .2em $color-brand-2;
  color: $color-brand-1;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase; 

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;
  will-change: transform,filter;
  transform-style: preserve-3d;
  transition: all .2s ease-out;

  &:hover{
    transform: scale(1.01);
  }
  &.shadow{
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: inherit;
      border-radius: 5em;
      top: 0.5rem;
      left: 0;
      filter: blur(0.4rem);
      opacity: 0.6;
      z-index: -1;
      transition: opacity .25s ease;
      -moz-transition: opacity .25s ease;
      -webkit-transition: opacity .25s ease;
    }
    &:hover::after{
        filter: blur(0.6rem);
        opacity: 0.8;
    
    }
  }

  span{
    color: $color-brand-3;
    font-size: .8rem;
    letter-spacing: .1em;
  }
  &.alt{
    background: $color-white;
    span{
      color: $color-brand-1;

    }
  }
}
button:focus {outline:0;}