
.site-footer{
  width: 100%;
  float: left;
  background: $color-brand-1;
  color: $color-brand-3;
  text-align: center;
  padding: $spacing-unit * 2 0;
  h3{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: $spacing-unit / 2;
  }
  hr{
    max-width: 2em;
    height: .3em;
    background: $color-brand-2;
    margin-bottom: 0;
  } 
  ul{
  margin: 0;
    li{
      display: inline-block;
      margin: 0;
      a{
        font-size: .7rem;
        font-weight: 600;
        margin: .1em;
        padding: 2em .5em;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: $color-brand-3;
      }
    }
  }

}

