form{
  display: block;
  margin: $spacing-unit 0;
  button{
    width: 100%;
    margin-right: 0;
  }
}
input, select, textarea{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  outline: none;
}
label.form-label {
  font-family: $alt-font-family;
  color: $color-brand-3;
  font-weight: 700;
  font-size: 1rem;
  float: left;
}
input.form-control {
  font-family: $base-font-family;
  color: $color-white;
  text-align: left;
  margin-bottom: $spacing-unit / 2;
  height: 1.6em;
  font-size: 1.2rem;
  width:100%;
  background:transparent;
  border: none;
  border-bottom: 2px solid $color-grey-light;
  transition: all .2s ease-in-out;
}
select.form-control {
  height: 1.6em;
  font-size: 1.2rem;
  width:100%;
  padding: 6px 12px 0;
  background:transparent;
  border: none;
  border-bottom: 2px solid $color-grey-light;
}
select option{
    font-size: 1.5rem;
}
textarea.form-control{
  font-family: $base-font-family;
  text-align: left;
  margin-bottom: $spacing-unit / 2;
  height: 1.6em;
  font-size: 1.2rem;
  width:100%;
  background:transparent;
  border: none;
  border-bottom: 2px solid $color-grey-light;
  transition: all .2s ease-in-out;
  padding: 0;
}
input.field:focus {
  border:none;
}

input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="url"]:focus,input[type="password"]:focus,textarea:focus,select:focus {
    outline:0px !important;
    -webkit-appearance:none;
    border: none;
    border-bottom: 2px solid $color-grey-light;
}
input.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $color-grey;
}
input.form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $color-grey;
}
textarea.form-control:focus {
  height: 5em;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid $color-grey;
}
textarea.form-control:active {
  height: 5em;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid $color-grey;
}

input[type=checkbox],input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  background: #fafafa;
  border: 2px solid rgba(0,0,0,0.1);
  color: #fff;
  cursor: pointer;
  display: block;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
  z-index: 1000;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=checkbox]:hover,input[type=radio]:hover { background: #fafafa; }

input[type=checkbox]:checked,input[type=radio]:checked { background: #fafafa; }

input[type=checkbox]:checked::before,input[type=radio]:checked::before {
  width: 40px;
  height: 40px;
  position: absolute;
  content: '✔';
  color: #888;
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 35px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline: none;
    outline: 0;
    outline-offset: 0;
}

