nav{
  width: 96%;
  padding: 0 2%;
  height: 5em;
  position: absolute;
  display: table;
  z-index: 1800;
  .nav-title{
    position: absolute;
    margin-top: -.6em;
    
    a{
      display: block;
      width: 3em;
    }
  }
  .nav-items{
    float: right;
    @media (max-width: $tablet) {

    }
    ul{
      display: block;
      margin: 0;
      line-height: 0;
      @media (max-width: $tablet) {
        display: none;
      }
      li{
        font-family: $alt-font-family;
        font-weight: 700;
        letter-spacing: .1em;
        display: inline-block;
        font-size: .8rem;
        margin: 0;
        a{
          display: block;
          padding: 1.5em 1.5em;
          color: $color-brand-3;
        }
      }
    }
  }
}
a.nav-cta{
  border: 2px solid $color-brand-3;
  border-radius: 5em;
  transition: all .2s ease-out;
  max-width: 200px;
  &:hover{
    background: $color-brand-3;
    color: $color-brand-1;
  }
}
a.nav-button {
	display: none;
  z-index: 1800;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}
@import "burger";
.burger-icon {
	@include burger(30px, 2px, 6px, $color-brand-3);
}
.dark .burger-icon {
	@include burger(30px, 2px, 6px, $color-brand-3);
}
.nav-button.is-active .burger-icon {
	@include burger-to-cross($color-brand-3);
}
.nav-dropdown{
  position: relative;
  text-align: center;
}
.nav-dropdown li{
  position: relative;
  padding-bottom: $spacing-unit / 2;
}
//Mobile Menu

.mobile-nav{
  width: 100%;
  height: 100%;
  z-index: 1500;
  text-transform: uppercase;
  text-align: center;
  display: none;
  background: $color-brand-1;
  position: fixed;
  &.exit{
    .mobile-nav-items{
      ul{
        @for $i from 1 through 10 {
          :nth-child(#{$i}n) {
            @include fadeOutLeft(
              $delay: #{$i * 0.3}s,
            );
          }
        }
      }
    }
  }
}
.mobile-nav-items{
  width: 100vw;
  height: 100vh;
  display: table;
  letter-spacing: .2em;
}
.mobile-nav-items ul{
  width: 100vw;
  height: 100vh;
  @for $i from 1 through 10 {
    :nth-child(#{$i}n) {
      @include fadeInLeft(
        $delay: #{$i * 0.3}s,
      );
    }
  }
}
.mobile-nav-items a{
  color: $color-white;
  font-weight: 700;
  font-family: $alt-font-family;
  font-size: .9rem;
  letter-spacing: .1em;
  display: block;
  padding: 1.5em 0;
  width: 100%;
  margin: $spacing-unit / 2 auto;
}
.mobile-nav-items a:hover{
  color: $color-white;
  text-decoration: none;
  -webkit-transition: color .3s linear; /* Saf3.2+, Chrome */
  -moz-transition: color .3s linear; /* FF3.7+ */
  -o-transition: color .3s linear; /* Opera 10.5 */
  transition: color .3s linear;
}

.mobile-nav-items a.nav-calltoaction{
  color: $color-white;
  background: $color-brand-2;
  &:hover {
    color: $color-white;
  }
}
