
.vertical{
  display: table-cell;
  vertical-align: middle;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.text-center{
  text-align: center;
}
.load{
  @include fadeIn(
    $delay: .1s
  );
  display: block;
}
.exit{
  @include fadeOut(
    $delay: 1s
  );
  display: block;
}
.hidden{
  display: none;
  z-index: -1;
}
.visible{
  display: block;
}

.fade-in{
  @include fadeIn(
    $delay: .8s
  );
}
.fade-in-slow{
  @include fadeIn(
    $delay: 1.2s
  );
}
.fade-in-slower{
  @include fadeIn(
    $delay: 1.4s
  );
}

.visible{
  display: table;
  @include fadeIn(
    $delay: .8s
  );
}

.image-blured{
  filter: blur(6px);
  -webkit-filter: blur(6px);
  transition: -webkit-filter 0s 0.3s linear, filter 0s 0.3s linear;
}
.lazyload{
  opacity: 1;
  transition: opacity .5s linear;
  
}
.lazyload:not(.loaded) {
    opacity: .8;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    transition: opacity .5s linear;
}
