.block-feature{
  height: 100vh;
  width: 100%;
  display: table;
  .block-feature-content{
    padding: $spacing-unit * 4 0;
    max-width: $content-width;
    margin: 0 auto;
    p{
      font-family: $header-font-family;
      font-size: 3rem;
      text-align: center;
      letter-spacing: .02em;
    }
    hr{
      max-width: 3em;
      height: .2em;
      background: $color-brand-2;
    }
    @media (max-width: $tablet) {
      height: 30vh;
      padding: $spacing-unit 0;
      p{
        font-size: 2rem;
      }
    }

    .block-feature-heading{
      text-align: center;
      letter-spacing: .1em;
      font-size: .9rem;
      font-family: $alt-font-family;
      color: $color-grey;
      margin-bottom: $spacing-unit * 1;
    }

  }
}