{{ define "main" }}

{{- range .Params.blocks -}}
{{- if eq .template "block-image" -}}{{ partial "blocks/block-image" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-feature" -}}{{ partial "blocks/block-feature" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-content" -}}{{ partial "blocks/block-content" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-cta" -}}{{ partial "blocks/block-cta" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-deck" -}}{{ partial "blocks/block-deck" (dict "Params" .) }}{{- end -}}
{{- if eq .template "block-showcase" -}}{{ partial "blocks/block-showcase" (dict "Params" .) }}{{- end -}}
{{- end -}}
{{ block "contact" . }}{{ partial "site/contact.html" . }}{{ end }}
{{ end }}