<section class="block-container" id="about">
  <div class="block-showcase">
    <div class="block-showcase-content">
      {{ with .Params.heading }}
      <h2 class="block-feature-heading">{{ markdownify . }}</h2>
      <hr />
      {{ end }}
      {{- with .Params.content -}}
        <p>{{ markdownify . }}</p>
      {{- end -}}
    </div>
    <div class="block-deck-items">
      {{- if .Params.items -}}
        {{ range $index, $item := .Params.items }}
        <div class="block-deck-item">
        	<div class="block-deck-item-content">
          {{ with $item.heading }}
          	{{ $number := add $index 01 }}
          	<h4>{{ printf "%02d" $number }}</h4>
            <h3>{{ markdownify . }}</h3>
          {{ end }}
          {{- with $item.content -}}
            <p>{{ markdownify . }}</p>
          {{- end -}}
        	</div>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>