<section class="block-container" alt="{{ .Params.heading }}">
  <div class="block-feature">
    <div class="vertical">
      <div class="block-feature-content">
        {{- with .Params.heading -}}
        <h2 class="block-feature-heading">{{ markdownify . }}</h2>
        <hr />
        {{ end }}
        {{- with .Params.content -}}
        <p>{{ markdownify . }}</p>
        {{- end -}}
        {{- if and .Params.button_url .Params.button_text -}}
        <a href="{{ .Params.button_url }}" class="fancy-button bg2"><span>{{ .Params.button_text }}</span></a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="scroll-down"></div>
</section>